YOLO_MODEL_PATH=/home/pi/yolo-inference/models/model.onnx
YOLO_LABELS=/home/pi/yolo-inference/config/classes.txt
YOLO_IMG_SIZE=640
YOLO_CONF=0.25
YOLO_IOU=0.45
YOLO_TOPK=300
YOLO_OUTPUT_DIR=/home/pi/yolo-inference/outputs
